<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chats</title>
</head>
<body>
    <h3>write new message</h3>
    <form method="post" action="/chats">
        <input placeholder="who are you" name="from">
        <br/>
        <br/>
        <input placeholder="add reciever" name="to">
        <br/>
        <br/>
        <textarea name="message">Add your message here</textarea>
        <br/>
        <br/> 
        <button>Create here</button>
    </form>
</body>
</html>